.parallax-widget
  font-size: 18px
  line-height: normal
  height: 100vh
  display: flex
  align-items: center

  & > div
    width: 100%

.centered
  text-align: center

.principal-menu
  display: flex
  align-items: center

  .flags-container
    display: flex
    justify-content: space-evenly
