.parallax-widget
  font-size: 18px
  line-height: normal
  min-height: 100vh

  &.one
    background-attachment: fixed !important

  &.two
    background: white
    padding: 0
    min-height: 85vh
    display: flex
    align-items: center

    .parallax-region
      max-width: 100%

      .title
        font-size: 3em
        margin-bottom: 30px

    .services-container
      display: flex
      flex-flow: row wrap

      .service-text-container
        display: flex
        align-items: center

      .services-image-container
        background-image: url('/themes/drupal8_parallax_theme/images/parallax/three.jpg')
        background-size: cover
        height: 85vh

  & > div
    width: 100%

.centered
  text-align: center

.region-primary-menu
  background: white
  color: black

  .language-switcher-language-url
    padding-top: 15px

  ul.links
    margin-bottom: 0
    display: flex
    justify-content: flex-end

    .es, .en
      list-style: none
      display: inline-block
      margin-left: 5px
